header{
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(18, 18, 18);
}
.img1{
height:auto;
}
.center{
    text-align: center;
    height:200px;
    width:300px;
}
.text1{
    color:pink;
}