header{
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(18, 18, 18);
}
.img1{

}
.center{
    text-align: center;
    height:;
    width:;
}
.text1{
    
}